* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: #5a6268;
}

::-webkit-scrollbar-thumb {
  background: #bdffa0;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdffa0;
}

.popup {
  width: 400px;
  height: 300px;
  box-shadow: 0 0 5px #999;
  background-color: #5a6268;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -150px;
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.popup .popupHeader {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}
.popup .popupHeader i {
  font-size: 22px;
  cursor: pointer;
  color: #fff;
}
.popup .rowContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  padding-bottom: 50px;
}
.popup .rowContainer h3 {
  font-size: 24px;
  color: rgb(189, 255, 160);
  text-shadow: rgb(9, 178, 14) 0px -2px 4px, rgb(9, 178, 14) 0px -2px 4px, rgb(9, 178, 14) 0px 2px 4px, rgb(9, 178, 14) 0px 2px 4px, rgb(9, 178, 14) -2px 0px 4px, rgb(9, 178, 14) 2px 0px 4px, rgb(9, 178, 14) -2px 0px 4px, rgb(9, 178, 14) 2px 0px 4px, rgb(9, 178, 14) -1px -2px 4px, rgb(9, 178, 14) 1px -2px 4px, rgb(9, 178, 14) -1px 2px 4px, rgb(9, 178, 14) 1px 2px 4px, rgb(9, 178, 14) -2px -1px 4px, rgb(9, 178, 14) 2px -1px 4px, rgb(9, 178, 14) -2px 1px 4px, rgb(9, 178, 14) 2px 1px 4px, rgb(9, 178, 14) -2px -2px 4px, rgb(9, 178, 14) 2px -2px 4px, rgb(9, 178, 14) -2px 2px 4px, rgb(9, 178, 14) 2px 2px 4px, rgb(9, 178, 14) -2px -2px 4px, rgb(9, 178, 14) 2px -2px 4px, rgb(9, 178, 14) -2px 2px 4px, rgb(9, 178, 14) 2px 2px 4px;
}
.popup .rowContainer p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  align-self: flex-start;
  margin-left: 20px;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #333;
}
.wrap header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  z-index: 2;
}
.wrap header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap header nav ul li {
  margin: 10px;
}
.wrap header nav ul li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 900;
  color: #fff;
}
.wrap .homePage {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .homePage .img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
  filter: brightness(0.5);
}
.wrap .homePage h1 {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(25px + 0.8vw);
  margin-bottom: 20px;
  color: rgb(189, 255, 160);
  text-shadow: rgb(9, 178, 14) 0px -2px 4px, rgb(9, 178, 14) 0px -2px 4px, rgb(9, 178, 14) 0px 2px 4px, rgb(9, 178, 14) 0px 2px 4px, rgb(9, 178, 14) -2px 0px 4px, rgb(9, 178, 14) 2px 0px 4px, rgb(9, 178, 14) -2px 0px 4px, rgb(9, 178, 14) 2px 0px 4px, rgb(9, 178, 14) -1px -2px 4px, rgb(9, 178, 14) 1px -2px 4px, rgb(9, 178, 14) -1px 2px 4px, rgb(9, 178, 14) 1px 2px 4px, rgb(9, 178, 14) -2px -1px 4px, rgb(9, 178, 14) 2px -1px 4px, rgb(9, 178, 14) -2px 1px 4px, rgb(9, 178, 14) 2px 1px 4px, rgb(9, 178, 14) -2px -2px 4px, rgb(9, 178, 14) 2px -2px 4px, rgb(9, 178, 14) -2px 2px 4px, rgb(9, 178, 14) 2px 2px 4px, rgb(9, 178, 14) -2px -2px 4px, rgb(9, 178, 14) 2px -2px 4px, rgb(9, 178, 14) -2px 2px 4px, rgb(9, 178, 14) 2px 2px 4px;
  z-index: 2;
}
.wrap .homePage h3 {
  width: 700px;
  text-align: center;
  font-size: calc(10px + 0.8vw);
  color: #fff;
  z-index: 2;
}
.wrap .charactersPage {
  width: 100%;
  min-height: 90vh;
  display: none;
  flex-direction: column;
  align-items: center;
}
.wrap .charactersPage .filterContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.wrap .charactersPage .filterContainer .filter {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #5a6268;
  border: none;
  cursor: pointer;
  color: rgb(189, 255, 160);
  font-size: 20px;
  text-shadow: rgb(9, 178, 14) 0px -1px 4px, rgb(9, 178, 14) 0px -1px 4px, rgb(9, 178, 14) 0px 1px 4px, rgb(9, 178, 14) 0px 1px 4px, rgb(9, 178, 14) -1px 0px 4px, rgb(9, 178, 14) 1px 0px 4px, rgb(9, 178, 14) -1px 0px 4px, rgb(9, 178, 14) 1px 0px 4px, rgb(9, 178, 14) -1px -1px 4px, rgb(9, 178, 14) 1px -1px 4px, rgb(9, 178, 14) -1px 1px 4px, rgb(9, 178, 14) 1px 1px 4px, rgb(9, 178, 14) -1px -1px 4px, rgb(9, 178, 14) 1px -1px 4px, rgb(9, 178, 14) -1px 1px 4px, rgb(9, 178, 14) 1px 1px 4px;
}
.wrap .charactersPage .filterContainer #reset {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #5a6268;
  border-radius: 10px;
  color: rgb(189, 255, 160);
  border: none;
  font-size: 20px;
  text-shadow: rgb(9, 178, 14) 0px -1px 4px, rgb(9, 178, 14) 0px -1px 4px, rgb(9, 178, 14) 0px 1px 4px, rgb(9, 178, 14) 0px 1px 4px, rgb(9, 178, 14) -1px 0px 4px, rgb(9, 178, 14) 1px 0px 4px, rgb(9, 178, 14) -1px 0px 4px, rgb(9, 178, 14) 1px 0px 4px, rgb(9, 178, 14) -1px -1px 4px, rgb(9, 178, 14) 1px -1px 4px, rgb(9, 178, 14) -1px 1px 4px, rgb(9, 178, 14) 1px 1px 4px, rgb(9, 178, 14) -1px -1px 4px, rgb(9, 178, 14) 1px -1px 4px, rgb(9, 178, 14) -1px 1px 4px, rgb(9, 178, 14) 1px 1px 4px;
  cursor: pointer;
}
.wrap .charactersPage .charactersContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.wrap .charactersPage .charactersContainer .characterItem {
  width: 300px;
  height: 300px;
  box-shadow: 0 5px 10px #777;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  text-align: center;
  justify-content: space-between;
  background-color: #5a6268;
}
.wrap .charactersPage .charactersContainer .characterItem h3 {
  align-items: center;
  width: 100%;
  color: rgb(189, 255, 160);
  text-shadow: rgb(9, 178, 14) 0px -2px 4px, rgb(9, 178, 14) 0px -2px 4px, rgb(9, 178, 14) 0px 2px 4px, rgb(9, 178, 14) 0px 2px 4px, rgb(9, 178, 14) -2px 0px 4px, rgb(9, 178, 14) 2px 0px 4px, rgb(9, 178, 14) -2px 0px 4px, rgb(9, 178, 14) 2px 0px 4px, rgb(9, 178, 14) -1px -2px 4px, rgb(9, 178, 14) 1px -2px 4px, rgb(9, 178, 14) -1px 2px 4px, rgb(9, 178, 14) 1px 2px 4px, rgb(9, 178, 14) -2px -1px 4px, rgb(9, 178, 14) 2px -1px 4px, rgb(9, 178, 14) -2px 1px 4px, rgb(9, 178, 14) 2px 1px 4px, rgb(9, 178, 14) -2px -2px 4px, rgb(9, 178, 14) 2px -2px 4px, rgb(9, 178, 14) -2px 2px 4px, rgb(9, 178, 14) 2px 2px 4px, rgb(9, 178, 14) -2px -2px 4px, rgb(9, 178, 14) 2px -2px 4px, rgb(9, 178, 14) -2px 2px 4px, rgb(9, 178, 14) 2px 2px 4px;
}
.wrap .charactersPage .charactersContainer .characterItem img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px #777;
}
.wrap .charactersPage .charactersContainer .characterItem button {
  padding: 5px 15px;
  border: none;
  background-color: #27bf27;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 2px 5px #777;
}
.wrap .charactersPage .controlContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .charactersPage .controlContainer button {
  padding: 7px 15px;
  margin: 10px;
  border: none;
  background-color: #27bf27;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.wrap .charactersPage .controlContainer input {
  width: 40px;
  height: 32px;
  margin: 10px;
  border: none;
  background-color: #27bf27;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  outline: none;
  font-weight: 600;
}
.wrap .episodePage {
  width: 100%;
  min-height: 80vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .episodePage .searchConatiner {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .episodePage .searchConatiner #searchEpisode {
  width: 350px;
  height: 60px;
  border-radius: 10px;
  background-color: #5a6268;
  border: none;
  outline: none;
  padding-left: 20px;
  color: rgb(189, 255, 160);
  text-shadow: rgb(9, 178, 14) 0px -2px 4px, rgb(9, 178, 14) 0px -2px 4px, rgb(9, 178, 14) 0px 2px 4px, rgb(9, 178, 14) 0px 2px 4px, rgb(9, 178, 14) -2px 0px 4px, rgb(9, 178, 14) 2px 0px 4px, rgb(9, 178, 14) -2px 0px 4px, rgb(9, 178, 14) 2px 0px 4px, rgb(9, 178, 14) -1px -2px 4px, rgb(9, 178, 14) 1px -2px 4px, rgb(9, 178, 14) -1px 2px 4px, rgb(9, 178, 14) 1px 2px 4px, rgb(9, 178, 14) -2px -1px 4px, rgb(9, 178, 14) 2px -1px 4px, rgb(9, 178, 14) -2px 1px 4px, rgb(9, 178, 14) 2px 1px 4px, rgb(9, 178, 14) -2px -2px 4px, rgb(9, 178, 14) 2px -2px 4px, rgb(9, 178, 14) -2px 2px 4px, rgb(9, 178, 14) 2px 2px 4px, rgb(9, 178, 14) -2px -2px 4px, rgb(9, 178, 14) 2px -2px 4px, rgb(9, 178, 14) -2px 2px 4px, rgb(9, 178, 14) 2px 2px 4px;
  font-size: 20px;
  position: relative;
  left: 10px;
}
.wrap .episodePage .searchConatiner #searchEpisode::-moz-placeholder {
  color: rgb(189, 255, 160);
}
.wrap .episodePage .searchConatiner #searchEpisode::placeholder {
  color: rgb(189, 255, 160);
}
.wrap .episodePage .searchConatiner i {
  position: relative;
  right: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}
.wrap .episodePage .episodeContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.wrap .episodePage .episodeContainer .episodeItem {
  width: 300px;
  height: 200px;
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.wrap .episodePage .episodeContainer .episodeItem h3 {
  color: rgb(189, 255, 160);
  text-shadow: rgb(9, 178, 14) 0px -2px 4px, rgb(9, 178, 14) 0px -2px 4px, rgb(9, 178, 14) 0px 2px 4px, rgb(9, 178, 14) 0px 2px 4px, rgb(9, 178, 14) -2px 0px 4px, rgb(9, 178, 14) 2px 0px 4px, rgb(9, 178, 14) -2px 0px 4px, rgb(9, 178, 14) 2px 0px 4px, rgb(9, 178, 14) -1px -2px 4px, rgb(9, 178, 14) 1px -2px 4px, rgb(9, 178, 14) -1px 2px 4px, rgb(9, 178, 14) 1px 2px 4px, rgb(9, 178, 14) -2px -1px 4px, rgb(9, 178, 14) 2px -1px 4px, rgb(9, 178, 14) -2px 1px 4px, rgb(9, 178, 14) 2px 1px 4px, rgb(9, 178, 14) -2px -2px 4px, rgb(9, 178, 14) 2px -2px 4px, rgb(9, 178, 14) -2px 2px 4px, rgb(9, 178, 14) 2px 2px 4px, rgb(9, 178, 14) -2px -2px 4px, rgb(9, 178, 14) 2px -2px 4px, rgb(9, 178, 14) -2px 2px 4px, rgb(9, 178, 14) 2px 2px 4px;
  font-size: 22px;
}
.wrap .episodePage .episodeContainer .episodeItem p {
  font-size: 18px;
}
.wrap .episodePage .episodeContainer .episodeItem p span {
  color: #23c934;
}
.wrap .episodePage .episodeContainer .episodeItem button {
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  background-color: #5a6268;
  color: #fff;
  cursor: pointer;
}
.wrap .episodePage .controlContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .episodePage .controlContainer button {
  padding: 7px 15px;
  margin: 10px;
  border: none;
  background-color: #27bf27;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.wrap .episodePage .controlContainer input {
  width: 40px;
  height: 32px;
  margin: 10px;
  border: none;
  background-color: #27bf27;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  outline: none;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */